/*-------------------------------------------------------------
[Color codes]

# Dark purple:            #1f2937 
- Header background
- Hero background
- Footer background
- Info header text
- Quote text

# White:                  #f9faf8
- Header logo text
- Hero main text

# Light Grey:             #e5e7eb 
- Header link text
- Hero secondary text
- Quote background

# Blue:                   #3882f8 
- CTA button
- Info card border
- CTA banner
-------------------------------------------------------------*/
/*-------------------------------------------------------------
[Typography]

Body:                       Roboto 
Header logo text:           24px 
Header links text:          18px
Hero main text:             48px extra-bold
Hero secondary text:        18px
Info header text:           36px extra-bold
Quote text                  36px light italic
-------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

/*** HEADER ***/
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header>* {width: 800px;}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#logo {color: #f9faf8; font-size: 24px; font-weight: bold;}
.nav a {text-decoration: none; color: #e5e7eb;}

.nav ul {
    display: flex;
    list-style: none;
    padding:  0;
    gap: 25px;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 100px 0;
    gap: 40px;
}

.hero>* {flex:1;}

.hero-title {
    margin: 0; 
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text {color: #e5e7eb; font-size: 18px; margin-top: 0;}

button {
    background-color: #3882f8;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    font-weight: bold;
}

.hero-img {
    background-color: rgb(125, 136, 146);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
}

/*** INFO ***/
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 400px;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin: 10px;
}

/* Consider using adjacent sibling selector .card-img~p */
.card-text {
    text-align: center;
    margin: 10px 0px;
    width: 125px;
    font-size: smaller;
}

.card-img {
    border: 3px solid #3882f8;
    height: 125px;
    width: 125px;
    border-radius: 10%;
    margin: auto;
}

/*** QUOTE ***/
/*** CTA ***/
/*** FOOTER ***/
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}