/* Both universal selector & body selector can be used to apply font styling to the whole page. */
/* Body styles may or may not be inherited by children.
   Whereas * selects every single element. 
*/
/* I used _____ because ... */
body {
    font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------------------------
[Color codes]

# Dark purple:            #1f2937 
- Header background
- Hero background
- Footer background
- Info header text
- Quote text

# White:                  #f9faf8
- Header logo text
- Hero main text

# Light Grey:             #e5e7eb 
- Header link text
- Hero secondary text
- Quote background

# Blue:                   #3882f8 
- CTA button
- Info card border
- CTA banner
-------------------------------------------------------------*/
/*-------------------------------------
* {
    color: #1f2937;
    color: #f9faf8;
    color: #e5e7eb; 
    color: #3882f8; 
}
-------------------------------------*/
/*-------------------------------------------------------------
[Typography]

Body:                       Roboto 
Header logo text:           24px 
Header links text:          18px
Hero main text:             48px extra-bold
Hero secondary text:        18px
Info header text:           36px extra-bold
Quote text                  36px light italic
-------------------------------------------------------------*/

/* Header section styling */
.header{background-color: #1f2937;}
.header .logo {
    color: #f9faf8;
    ;
}
.header a {
    color: #e5e7eb;
}

/* Hero section styling */
.hero{background-color: #1f2937;}
.hero h1 {
    color: #f9faf8;
}
.hero p {
    color: #e5e7eb;
}
/* Info section styling */
.info {}

.info h2 {
    color: #1f2937;
}

/* Quote section styling */
.quote {
    background-color: #e5e7eb; 
}

.quote-block {
    color: #1f2937;
}

/* CTA section styling */
.cta{ background-color: #3882f8;}
button {background-color: #3882f8;}

/* Footer section styling */
.footer{background-color: #1f2937}





